// .bg_cont {
//   width: 1200px;
//   height: 500px;
//   margin: 0 auto;
//   margin-top: 110px;
//   border-radius: 20px;
//   box-shadow: 2px 0px 10px black;
//   background-color: #222a34;
// }

// .bg_header {
//   position: relative;
// }

// .close_img {
//   position: absolute;
//   left: 16px;
//   top: 16px;
//   width: 12px;

// }

// .bg_header_title {
//   color: white;
//   font-size: 30px;
//   text-align: right;
//   padding-right: 25px;
//   padding-top: 10px;
// }

// .bg_header_second_subdiv{
//     display: flex;
//     gap:32px;
// }

// .bg_header_button {
//   background-color: #475366;
//   border: none;
//   color: white;
//   height: 26px;
//   border-radius: 25px;

//   margin-left: 20px;
//   background-image: url("./assets/Upload.png");
//   width: 140px;
//   background-repeat: no-repeat;
//   background-position: 5px 6px;

// }

// .bg_header_subtext {
//   color: white;
//   text-align: left;
// }

$bg_cont_background-color: #222a34;
$main_cont_background-color_1: #2f3a4b;
$main_cont_background-color_2: #161b21;

.bg_cont {
  width: 100rem;
  height: 70rem;
  margin: 0 auto;
  margin-top: 11rem;
  border-radius: 10px;
  box-shadow: 0.2rem 0px 1rem black;
  background-color: $bg_cont_background-color;
  font-size: 2rem;
  padding: 0.8rem 0.8rem;
  color: white;

  .bg_header {
    position: relative;

    .close_img {
      position: absolute;
      left: 2%;
      top: 20%;
      width: 1.2rem;
    }

    .bg_header_title {
      font-size: 4.8rem;
      text-align: right;
      padding-right: 2.5rem;
      padding-top: 1rem;
    }

    .sub_cont {
      margin-top: 1.2rem;
      display: flex;
      gap: 3.2rem;
    }

    .bg_header_button {
      font-family: "Aduma";
      font-size: 2rem;
      background-color: #475366;
      color: white;
      border: none;
      padding: 0.7rem 1.4rem;
      border-radius: 25px;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      // background-image: url("./assets/Upload.png");
      // background-repeat: no-repeat;
      // background-position: 0% 0%;
    }

    .bg_header_subtext {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main_cont {
    display: flex;
    gap: 0.8rem;
    margin-top: 1.2rem;
    height: 50rem;
    padding-bottom: 0.8rem;

    .main_card_left {
      width: 70%;
      display: flex;
      align-items: center;
      position: relative;

      .tab_button_no_bg,
      .tab_button_original {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        font-size: 2.4rem;
      }
      .tab_button_no_bg {
        top: 2%;
        right: 5%;
      }

      .tab_button_original {
        top: 2%;
        right: 22%;
      }

      .original {
        width: 100%;
        height: 100%;
      }

      .main_left_footer {
        font-size: 1.6rem;
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5rem;
        top: 92%;
        left: 2%;

        .main_left_footer_text {
          direction: rtl;
        }

        .main_left_footer_btn{
          font-family: "Aduma";
          font-size: 1.6rem;
          background-color: #475366;
          color: white;
          border: none;
          padding: 0.7rem 1.4rem;
          border-radius: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;
        }
      }
    }

    .main_card_right {
      width: 30%;
      display: flex;
      align-items: center;
    }

    .main_card_middle {
      height: 40rem;
      width: 100%;
    }
  }

  .footer_cont {
    display: flex;
    gap: 4.8rem;
    margin: 0 auto;
    align-items: center;

    border-radius: 10px;
    width: 100%;

    .logo {
      width: 15%;
      margin-left: 1rem;
    }

    .banner_link {
      width: 85%;
      list-style: none;

      .banner_img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
