.bg_cont {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: 110px;
  border-radius: 20px;
  box-shadow: 2px 0px 10px black;
  background-color: #222a34;
}

.bg_header {
  position: relative;
}

.close_img {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 12px;
}

.bg_header_title {
  color: white;
  font-size: 30px;
  text-align: right;
  padding-right: 25px;
  padding-top: 10px;
}

.bg_header_second_subdiv{
    display: flex;
    gap:32px;
}

.bg_header_button {
  background-color: #475366;
  border: none;
  color: white;
  height: 26px;
  border-radius: 25px;

  margin-left: 20px;
  background-image: url("./assets/Upload.png");
  width: 140px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  
}

.bg_header_subtext {
  color: white;
  text-align: left;  
}
