.downloadImg_cont {
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 4rem 0rem;
  width: 90%;
  margin: 0 auto;

  .downloadImg_title {
    font-size: 3.2rem;
    display: flex;
  }

  .downloadImg_subtitle {
  }

  .downloadImg_button {
    font-family: "Aduma";
    font-size: 2rem;
    background-color: inherit;
    padding: 0.8rem 0;
    color: rgb(8, 137, 206);
    //special config for border radius and linear gradiant
    border: 3px solid #0000;
    border-radius: 50px;
    background: linear-gradient(
          var(--card_middle_background-color),
          var(--card_middle_background-color)
        )
        padding-box,
      linear-gradient(to left, rgb(8, 206, 203), rgb(27, 95, 221)) border-box;
  }

  .downloadImg_subsubtext {
    font-size: 1.6rem;
    display: flex;
    gap: 0.4rem;
  }
}

.downloadImg_cont:not(:last-child) {
  border-bottom: 1px solid white;
}

.download_popup {
  font-size: 2rem;
  direction: rtl;
  height: 27rem;
  width: 45rem;

  .download_img_cont {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.8rem;
    border-radius: 4px;
    box-shadow: 2px 1px 12px rgba(182, 27, 221, 0.308);
    .download_img {
    }
  }

  .download_popup_content {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  .download_popup_text {
    font-size: 2.4rem;
  }

  .notRobot_cont {
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.8rem;
    margin-right: 6rem;

    .notRobot_checkbox {
      transform: translate(-21%, 10%);
      padding: 0.6rem;
      border: 1px solid rgba(49, 80, 135, 0.945);
      border-radius: 2px;
    }

    img {
      width: 1.4rem;

      transform: translate(-21%, 6%);
    }
  }

  .btns_cont {
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    .btn {
      font-family: "Aduma";
      border: none;
      font-size: 2rem;
      padding: 0.8rem 5rem;
      border-radius: 50px;
      background-color: inherit;
      color: rgba(49, 80, 135, 0.945);
      cursor: pointer;
    }

    .approve_btn {
      background: linear-gradient(to left, #08cecb, #b61bdd);
      color: white;
    }

    .cancel_btn {
      border: 1px solid rgba(49, 80, 135, 0.945);
    }
  }
}
