.card {
  border-radius: 10px;
  background-color: var(--card_background-color);

  .card_middle {
    background-color: var(--card_middle_background-color);
    height: 53rem;
    width: 100%;
    padding: 1.6rem 0.8rem;
  
  }
}


