# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

public/upload_img/*.jpeg
public/upload_img/*.png

public/upload_img_bg_color/*.jpeg
public/upload_img_bg_color/*.png

public/upload_img_no_bg/*.jpeg
public/upload_img_no_bg/*.png




# Environment variables
*.env

# Build output
build/
dist/
out/

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



npm-debug.log*
yarn-debug.log*
yarn-error.log*
